extends layout

block content
			.main(role='main')
				.slider-container.rev_slider_wrapper(style='height: 650px;')
					#revolutionSlider.slider.rev_slider.manual
						ul
							li(data-transition='fade', data-title='Advocate Team', data-thumb='img/demos/law-firm/slides/slide-law-firm-1.jpg')
								img.rev-slidebg(src='img/demos/law-firm/slides/slide-law-firm-1.jpg', alt='', data-bgposition='center center', data-bgfit='cover', data-bgrepeat='no-repeat')
								.tp-caption.top-label(data-x='right', data-hoffset='100', data-y='center', data-voffset='-95', data-start='1000', style='z-index: 5', data-transform_in='y:[-300%];opacity:0;s:500;') YOUR TRUSTED
								.tp-caption.main-label(data-x='right', data-hoffset='100', data-y='center', data-voffset='-45', data-start='1500', data-whitespace='nowrap', data-transform_in='y:[100%];s:500;', data-transform_out='opacity:0;s:500;', style='z-index: 5', data-mask_in='x:0px;y:0px;') ADVOCATE TEAM
								.tp-caption.bottom-label(data-x='right', data-hoffset='100', data-y='center', data-voffset='5', data-start='2000', style='z-index: 5', data-transform_in='y:[100%];opacity:0;s:500;') Consult With Our Experienced Team for Solutions.
								a.tp-caption.btn.btn-primary.btn-lg(data-hash='', data-hash-offset='85', href='#home-intro', data-x='right', data-hoffset='100', data-y='center', data-voffset='80', data-start='2500', data-whitespace='nowrap', data-transform_in='y:[100%];s:500;', data-transform_out='opacity:0;s:500;', style='z-index: 5', data-mask_in='x:0px;y:0px;') Request a Free Consultation
							li(data-transition='fade', data-title='Practice Areas', data-thumb='img/demos/law-firm/slides/slide-law-firm-2-thumb.jpg')
								img.rev-slidebg(src='img/demos/law-firm/slides/slide-law-firm-2.jpg', alt='', data-bgposition='center center', data-bgfit='cover', data-bgrepeat='no-repeat')
								.tp-caption.main-label(data-x='right', data-hoffset='100', data-y='center', data-voffset='-205', data-start='1000', style='z-index: 5; font-size: 40px;', data-transform_in='y:[-300%];opacity:0;s:500;') PRACTICE AREAS
								.tp-caption.tp-caption-overlay-opacity.bottom-label(data-x='right', data-hoffset='100', data-y='center', data-voffset='-145', data-start='1500', data-transform_in='x:[-100%];opacity:0;s:500;')
									i.fa.fa-check
									|  Criminal Law
								.tp-caption.tp-caption-overlay-opacity.bottom-label(data-x='right', data-hoffset='100', data-y='center', data-voffset='-100', data-start='1800', data-transform_in='x:[-100%];opacity:0;s:500;')
									i.fa.fa-check
									|  Business Law
								.tp-caption.tp-caption-overlay-opacity.bottom-label(data-x='right', data-hoffset='100', data-y='center', data-voffset='-55', data-start='2100', data-transform_in='x:[-100%];opacity:0;s:500;')
									i.fa.fa-check
									|  Health Law
								.tp-caption.tp-caption-overlay-opacity.bottom-label(data-x='right', data-hoffset='100', data-y='center', data-voffset='-10', data-start='2400', data-transform_in='x:[-100%];opacity:0;s:500;')
									i.fa.fa-check
									|  Divorce Law
								.tp-caption.tp-caption-overlay-opacity.bottom-label(data-x='right', data-hoffset='100', data-y='center', data-voffset='35', data-start='2700', data-transform_in='x:[-100%];opacity:0;s:500;')
									i.fa.fa-check
									|  Capital Law
								.tp-caption.tp-caption-overlay-opacity.bottom-label(data-x='right', data-hoffset='100', data-y='center', data-voffset='80', data-start='3000', data-transform_in='x:[-100%];opacity:0;s:500;')
									i.fa.fa-check
									|  Accident Law
								a.tp-caption.btn.btn-primary.btn-lg(data-hash='', data-hash-offset='85', href='#practice-areas', data-x='right', data-hoffset='100', data-y='center', data-voffset='150', data-start='3500', data-whitespace='nowrap', data-transform_in='y:[100%];s:500;', data-transform_out='opacity:0;s:500;', style='z-index: 5', data-mask_in='x:0px;y:0px;')
									| Learn More
									i.fa.fa-long-arrow-right
							li(data-transition='fade', data-title='Welcome to Porto', data-thumb='img/demos/law-firm/slides/slide-law-firm-3.jpg')
								img.rev-slidebg(src='img/demos/law-firm/slides/slide-law-firm-3.jpg', alt='', data-bgposition='center center', data-bgfit='cover', data-bgrepeat='no-repeat')
								.tp-caption.top-label(data-x='left', data-hoffset='100', data-y='center', data-voffset='-95', data-start='1000', style='z-index: 5', data-transform_in='y:[-300%];opacity:0;s:500;') WELCOME TO
								.tp-caption.main-label(data-x='left', data-hoffset='100', data-y='center', data-voffset='-45', data-start='1500', data-whitespace='nowrap', data-transform_in='y:[100%];s:500;', data-transform_out='opacity:0;s:500;', style='z-index: 5', data-mask_in='x:0px;y:0px;') PORTO TEMPLATE
								.tp-caption.bottom-label(data-x='left', data-hoffset='100', data-y='center', data-voffset='5', data-start='2000', style='z-index: 5', data-transform_in='y:[100%];opacity:0;s:500;') The #1 Selling HTML Site Template on ThemeForest.
								a.tp-caption.btn.btn-primary.btn-lg(href='http://themeforest.net/item/porto-responsive-html5-template/4106987', data-x='left', data-hoffset='100', data-y='center', data-voffset='80', data-start='2500', data-whitespace='nowrap', data-transform_in='y:[100%];s:500;', data-transform_out='opacity:0;s:500;', style='z-index: 5', data-mask_in='x:0px;y:0px;') Purchase Now
				section.section.section-default.section-no-border.mt-none
					.container
						.row.mb-xl
							.col-md-7
								h2.mt-xl.mb-none Who We Are
								.divider.divider-primary.divider-small.mb-xl
									hr
								p.mt-lg
									| Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat.
								a.mt-md(href='demo-law-firm-about-us.html')
									| Learn More
									i.fa.fa-long-arrow-right
							.col-md-4.col-md-offset-1
								h4.mt-xl.mb-none Our Commitment
								.divider.divider-primary.divider-small.mb-xl
									hr
								p.mt-lg
									| Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat.
				#practice-areas.container
					.row
						.col-md-12.center
							h2.mt-xl.mb-none Practice Areas
							.divider.divider-primary.divider-small.divider-small-center.mb-xl
								hr
					.row.mt-lg
						.col-md-4
							.feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInUp', data-appear-animation-delay='0')
								.feature-box-icon
									img(src='img/demos/law-firm/icons/criminal-law.png', alt='')
								.feature-box-info.ml-md
									h4.mb-sm Criminal Law
									p
										| Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.
									a.mt-md(href='demo-law-firm-practice-areas-detail.html')
										| Learn More
										i.fa.fa-long-arrow-right
						.col-md-4
							.feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInUp', data-appear-animation-delay='0')
								.feature-box-icon
									img(src='img/demos/law-firm/icons/business-law.png', alt='')
								.feature-box-info.ml-md
									h4.mb-sm Business Law
									p
										| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.
									a.mt-md(href='demo-law-firm-practice-areas-detail.html')
										| Learn More
										i.fa.fa-long-arrow-right
						.col-md-4
							.feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInUp', data-appear-animation-delay='0')
								.feature-box-icon
									img(src='img/demos/law-firm/icons/health-law.png', alt='')
								.feature-box-info.ml-md
									h4.mb-sm Health Law
									p
										| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.
									a.mt-md(href='demo-law-firm-practice-areas-detail.html')
										| Learn More
										i.fa.fa-long-arrow-right
					.row.mt-md.mb-xl
						.col-md-4
							.feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInUp', data-appear-animation-delay='300')
								.feature-box-icon
									img(src='img/demos/law-firm/icons/divorce-law.png', alt='')
								.feature-box-info.ml-md
									h4.mb-sm Divorce Law
									p
										| Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.
									a.mt-md(href='demo-law-firm-practice-areas-detail.html')
										| Learn More
										i.fa.fa-long-arrow-right
						.col-md-4
							.feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInUp', data-appear-animation-delay='300')
								.feature-box-icon
									img(src='img/demos/law-firm/icons/capital-law.png', alt='')
								.feature-box-info.ml-md
									h4.mb-sm Capital Law
									p
										| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.
									a.mt-md(href='demo-law-firm-practice-areas-detail.html')
										| Learn More
										i.fa.fa-long-arrow-right
						.col-md-4
							.feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInUp', data-appear-animation-delay='300')
								.feature-box-icon
									img(src='img/demos/law-firm/icons/accident-law.png', alt='')
								.feature-box-info.ml-md
									h4.mb-sm Accident Law
									p
										| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.
									a.mt-md(href='demo-law-firm-practice-areas-detail.html')
										| Learn More
										i.fa.fa-long-arrow-right
				.container-fluid
					.row
						.col-md-6.p-none
							section.section.section-primary.match-height.mt-xl(style='background-image: url(img/patterns/fancy.jpg);')
								.row
									.col-half-section.col-half-section-right
										h2.mb-none Testimonials
										.divider.divider-light.divider-small.mb-xl
											hr
										.owl-carousel.owl-theme(data-plugin-options='{"items": 1, "margin": 10, "loop": false, "nav": false, "dots": true}')
											div
												.testimonial.testimonial-style-3.testimonial-trasnparent-background.testimonial-alternarive-font
													blockquote
														p.text-light
															| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna. Phasellus semper scelerisque purus, et semper nisl lacinia sit amet. Praesent venenatis turpis vitae purus semper, eget sagittis velit venenatis.
													.testimonial-author
														.testimonial-author-thumbnail
															img.img-responsive.img-circle(src='img/clients/client-1.jpg', alt='')
														p
															strong John Smith
															span.text-light CEO & Founder - Okler
											div
												.testimonial.testimonial-style-3.testimonial-trasnparent-background.testimonial-alternarive-font
													blockquote
														p.text-light
															| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna. Phasellus semper scelerisque purus, et semper nisl lacinia sit amet.
													.testimonial-author
														.testimonial-author-thumbnail
															img.img-responsive.img-circle(src='img/clients/client-2.jpg', alt='')
														p
															strong Jessica Smith
															span.text-light Marketing - Okler
											div
												.testimonial.testimonial-style-3.testimonial-trasnparent-background.testimonial-alternarive-font
													blockquote
														p.text-light
															| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna. Phasellus semper scelerisque purus, et semper nisl lacinia sit amet. Praesent venenatis turpis vitae purus semper, eget sagittis velit venenatis.
													.testimonial-author
														.testimonial-author-thumbnail
															img.img-responsive.img-circle(src='img/clients/client-3.jpg', alt='')
														p
															strong Bob Smith
															span.text-light COO - Okler
						.col-md-6.p-none.visible-md.visible-lg
							section.parallax.section.section-parallax.match-height.mt-xl(data-plugin-parallax='', data-plugin-options='{"speed": 1.5, "horizontalPosition": "100%"}', data-image-src='img/demos/law-firm/parallax-law-firm.jpg', style='min-height: 450px;')
					.container
						.row
							.col-md-12.center
								h2.mt-xl.mb-none Attorneys
								.divider.divider-primary.divider-small.divider-small-center.mb-xl
									hr
						.row.mt-lg
							.owl-carousel.owl-theme.owl-team-custom.show-nav-title(data-plugin-options='{"items": 4, "margin": 10, "loop": false, "nav": true, "dots": false}')
								.center.mb-lg
									a(href='demo-law-firm-attorneys-detail.html')
										img.img-responsive(src='img/team/team-22.jpg', alt='')
									h4.mt-md.mb-none David Doe
									p.mb-none Criminal Law
									span.thumb-info-social-icons.mt-sm.pb-none
										a(href='http://www.facebook.com', target='_blank')
											i.fa.fa-facebook
											span Facebook
										a(href='http://www.twitter.com')
											i.fa.fa-twitter
											span Twitter
										a(href='http://www.linkedin.com')
											i.fa.fa-linkedin
											span Linkedin
										p
								.center.mb-lg
									a(href='demo-law-firm-attorneys-detail.html')
										img.img-responsive(src='img/team/team-23.jpg', alt='')
									h4.mt-md.mb-none Jeff Doe
									p.mb-none Business Law
									span.thumb-info-social-icons.mt-sm.pb-none
										a(href='mailto:mail@example.com')
											i.fa.fa-envelope
											span Email
										a(href='http://www.linkedin.com')
											i.fa.fa-linkedin
											span Linkedin
										p
								.center.mb-lg
									a(href='demo-law-firm-attorneys-detail.html')
										img.img-responsive(src='img/team/team-24.jpg', alt='')
									h4.mt-md.mb-none Craig Doe
									p.mb-none Divorce Law
									span.thumb-info-social-icons.mt-sm.pb-none
										a(href='http://www.facebook.com', target='_blank')
											i.fa.fa-facebook
											span Facebook
										a(href='http://www.twitter.com')
											i.fa.fa-twitter
											span Twitter
										a(href='http://www.linkedin.com')
											i.fa.fa-linkedin
											span Linkedin
										p
								.center.mb-lg
									a(href='demo-law-firm-attorneys-detail.html')
										img.img-responsive(src='img/team/team-25.jpg', alt='')
									h4.mt-md.mb-none Richard Doe
									p.mb-none Accident Law
									span.thumb-info-social-icons.mt-sm.pb-none
										a(href='http://www.linkedin.com')
											i.fa.fa-linkedin
											span Linkedin
										p
								.center.mb-lg
									a(href='demo-law-firm-attorneys-detail.html')
										img.img-responsive(src='img/team/team-29.jpg', alt='')
									h4.mt-md.mb-none Amanda Doe
									p.mb-none Health Law
									span.thumb-info-social-icons.mt-sm.pb-none
										a(href='http://www.linkedin.com')
											i.fa.fa-linkedin
											span Linkedin
										p
								.center.mb-lg
									a(href='demo-law-firm-attorneys-detail.html')
										img.img-responsive(src='img/team/team-30.jpg', alt='')
									h4.mt-md.mb-none Jessica Doe
									p.mb-none Capital Law
									span.thumb-info-social-icons.mt-sm.pb-none
										a(href='http://www.linkedin.com')
											i.fa.fa-linkedin
											span Linkedin
										p
				section.parallax.section.section-text-light.section-parallax.section-center.mt-xl(data-plugin-parallax='', data-plugin-options='{"speed": 1.5}', data-image-src='img/demos/law-firm/parallax-law-firm-2.jpg')
					.container
						.row
							.counters.counters-text-light
								.col-md-3.col-sm-6
									.counter.mb-lg.mt-lg
										i.icon-user-following.icons
										strong(data-to='20000', data-append='+') 0
										label Happy Clients
								.col-md-3.col-sm-6
									.counter.mb-lg.mt-lg
										i.icon-diamond.icons
										strong(data-to='15') 0
										label Years in Business
								.col-md-3.col-sm-6
									.counter.mb-lg.mt-lg
										i.icon-badge.icons
										strong(data-to='3') 0
										label Awards
								.col-md-3.col-sm-6
									.counter.mb-lg.mt-lg
										i.icon-paper-plane.icons
										strong(data-to='178') 0
										label Successful Stories
				.container
					.row
						.col-md-12.center
							h2.mt-xl.mb-none Latest News
							.divider.divider-primary.divider-small.divider-small-center.mb-xl
								hr
					.row.mt-xl
						.col-md-6
							span.thumb-info.thumb-info-side-image.thumb-info-no-zoom.mb-xl
								span.thumb-info-side-image-wrapper.p-none.hidden-xs
									a(title='', href='demo-law-firm-news-detail.html')
										img.img-responsive(src='img/demos/law-firm/blog/blog-law-firm-1.jpg', alt='', style='width: 195px;')
								span.thumb-info-caption
									span.thumb-info-caption-text
										h2.mb-md.mt-xs
											a.text-dark(title='', href='demo-law-firm-news-detail.html') Award of Honor
										span.post-meta
											span
												| January 10, 2016
												a(href='#') John Doe
										p.font-size-md
											| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit...
										a.mt-md(href='demo-law-firm-news-detail.html')
											| Read More
											i.fa.fa-long-arrow-right
						.col-md-6
							span.thumb-info.thumb-info-side-image.thumb-info-no-zoom.mb-xl
								span.thumb-info-side-image-wrapper.p-none.hidden-xs
									a(title='', href='demo-law-firm-news-detail.html')
										img.img-responsive(src='img/demos/law-firm/blog/blog-law-firm-2.jpg', alt='', style='width: 195px;')
								span.thumb-info-caption
									span.thumb-info-caption-text
										h2.mb-md.mt-xs
											a.text-dark(title='', href='demo-law-firm-news-detail.html') The Best Lawyer
										span.post-meta
											span
												| January 10, 2016
												a(href='#') John Doe
										p.font-size-md
											| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit...
										a.mt-md(href='demo-law-firm-news-detail.html')
											| Read More
											i.fa.fa-long-arrow-right
				section.section.section-background.section-footer(style='background-image: url(img/custom-header-bg-2.jpg); background-position: 50% 100%;')
					.container
						.row
							.col-md-6.col-md-offset-6
								h2.mt-xl.mb-none Request a Free Consultation
								p Consult with our experienced team for complete solutions to your legal issues.
								.divider.divider-primary.divider-small.mb-xl
									hr
								form#contactForm(action='php/contact-form.php', method='POST')
									.row
										.form-group
											.col-sm-6
												input#name.form-control(type='text', value='', placeholder='Your name', data-msg-required='Please enter your name.', maxlength='100', name='name', required='')
											.col-sm-6
												input#email.form-control(type='email', value='', placeholder='Your email address *', data-msg-required='Please enter your email address.', data-msg-email='Please enter a valid email address.', maxlength='100', name='email', required='')
									.row
										.form-group
											.col-md-12
												input#subject.form-control(type='text', value='', placeholder='Subject', data-msg-required='Please enter the subject.', maxlength='100', name='subject', required='')
									.row
										.form-group
											.col-md-12
												textarea#message.form-control(maxlength='5000', placeholder='Message *', data-msg-required='Please enter your message.', rows='3', name='message', required='')
									.row
										.col-md-12
											input.btn.btn-primary.mb-xl(type='submit', value='Send Message', data-loading-text='Loading...')
											#contactSuccess.alert.alert-success.hidden
												| Message has been sent to us.
											#contactError.alert.alert-danger.hidden
												| Error sending your message
